<!DOCTYPE html>
<html lang="${user.language}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>LearnVocab.net</title>

    {% stylesheets '@ScazzLearnVocabBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}


    {% javascripts
    '@ScazzLearnVocabBundle/Resources/public/js/app.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>

</html>